@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
.btn button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #f88817;
    border-radius: 20px;
    font-weight: bold;
}

* {
    padding:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}
/*Wave*/
#wave {
    position: absolute;
    bottom: 0;
    left: 0;
    transform:rotate(0deg); 
    transition: 0.3s
}
.wave-1 {
    transform:translateX(10px); 
    opacity:1;
    animation: moviWave1 3s linear infinite alternate;
}
@keyframes moviWave1 {
    from {
        transform: translateX(-200px)
    }
}
.wave-2 {
    transform:translate(0, 50px); 
    opacity:0.9;
    animation: moviWave2 5s linear infinite alternate;
}
@keyframes moviWave2 {
    from {
        transform: translateX(-300px)
    }
}
.wave-3 {
    animation: moviWave3 10s linear infinite alternate;
    transform:translate(0, 100px); 
    opacity:0.8;
}
@keyframes moviWave3 {
    from {
        transform: translateX(-500px)
    }
}

/*Input*/
.form-control {
    outline: none;
    height: 25px;
    width: 100%;
    border-radius: 50px;
    background-color: #fff;
    padding: 25px 25px 25px 60px;
    margin: 0;
    border: 1px solid rgb(99, 97, 95);
}
.form-control::placeholder {
    color: #333;
}
.form-control:focus {
    border: 1px solid rgb(248, 136, 23);
    box-shadow: 0 4px 8px rgb(248, 136, 23), 0 2px 20px rgb(255, 138, 4);
}
.icon-input {
    width: 20px;
    height: 20px;
}
.input-container label {
    position: absolute;
    top: 15px;
    left: 30px;
}
.container-form form div{
    position: relative;
    z-index: 99;
}
.input-container {
    margin: 10px 20px;
}
.container-form {
    width: 500px;
}
.container {
    display:flex;
    flex-direction: column;
    align-items: center;
}
form {
    padding: 20px;
    display:flex;
    flex-direction: column;
}
form .name{
    left: 40px;
    display:flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 0;
}

#toggle {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}
